main{
    background-image: linear-gradient(rgba(255, 255, 255, 0.1)), url('../MULTIMEDIA/joinus_football.jpg');
    background-size: cover;       
    padding-top: 15px;
    border-bottom: 5px solid orange;
    margin-bottom: 45px;
}
.form-container{
    max-width: 1200px;
    margin: 40px auto; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}    

.form-container h1:first-of-type{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.form-container h4{
    margin-bottom: 5px;
}


.club-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container form input{
    width: 300px;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 7px 0px;
    border: black solid 0.5px;
    
}

.level-of-study{
    width: 300px;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 7px 0px;
    border: black solid 0.5px;
}

.gender-type{
   width: 40px;
   margin-top: 30px;
}

.gender{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 300px;
    border-radius: 5px;
    border: black solid 0.5px;
    height: 30px;
}

.submit-button{
    background-color: orange;
    color: white
}






